@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "./Css/colors";

*{
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}

.formatoWeb {
   flex: 1;
}

body {
    min-height: 100vh;
    background-color: $color1; 
    color: white;
    font-family: "Montserrat", sans-serif;
    a {
        text-decoration: none; 
        color: white
    }
    }

header {
    background-color: $color2;
    color: black;
}

h1 {
    background-color: $color1;
    color: $color2; 
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

h2 {
    background-color: $color1;
    color: $color2; 
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

h3 {
    background-color: $color1;
    color: $color2; 
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    display: inline;
}

Nav {
    background-color: $color1;
    color: $color2;
    padding: 10px;
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    align-items: center;

}

.nav-link.active {
    background-color: $color3;
    border-radius: 10px;
}

Nav img {
    max-height: 2.813rem; 
    max-width: 13.125rem;
    margin-left: 0.5rem;
}

a:hover {
    font-weight: bold;
}

.Inicio {
    padding: 15px; 
    border-radius: 20px; 
    line-height: 1.5; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    text-align: center;
}

.parrafo1 {
    background-color: $color1; 
    padding: 1rem;
}

.footImg {
    background-color: $color1;
    font-size: 0.5 rem;
    text-align: center;
}

.transf_img:hover {
    transform: scale(1.1, 1.1);
}

.transf_tex:hover {
    transform: scale(1.05, 1.05);
    background-color: $color4;
}

.transf_right:hover {
    transform: translate(4px, -4px);
    background-color: $color4;
}

.transf_left:hover {
    transform: translate(-4px, -4px);
    background-color: $color4;
}

.Lista1 {
    padding: 1rem; 
    background-color: $color1; 
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: column; 
    text-align: left;
}

.Img_inicio img {
    border: 3px solid $color2; 
    max-width: 80%; 
    display: block; 
    margin: auto; 
    border-radius: 500px;
}

.kiwano_text {
    background-color: $color1;
    border-radius: 20px;
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: column; 
    text-align: left;
    line-height: normal; 
   }

.kiwano_img {
    max-width: 100%;
    height: auto;
    max-height: 150px;
    object-fit: center;
    border-radius: 5px;
}

.parrafoServ {
    padding: 1rem; 
    background-color: $color1; 
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: column; 
    text-align: left;
}

.serv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer {
        color: $color1;
        margin-top: 2rem; 
        font-size: 0.7rem; 
        display: flex; 
        justify-content: space-between; 
        flex-wrap: wrap; 
        align-items: center;

        a {
            text-decoration: none; 
            color: $color1;
        }

        img {
            height: 20px; 
            width: 20px;
        }
    }
